.axis path,
.axis line {
   fill: none;
   stroke: black;
   stroke-width: 2px;
   shape-rendering: crispEdges;
}
.axis text {
   font-family: sans-serif;
   font-size: 11px;
}

/*参考: http://bl.ocks.org/hunzy/8647349*/
span#tooltip{
  position: absolute;
  z-index: 10;
  visibility: hidden;
  padding: 0 5px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  font-size: 11px;
  opacity: 0.8;
}

#content{
  margin: 20px;
  width: 1200px;
}

#left-content{
  width: 650px;
  float: left;
  /*background-color: red;*/
}

#select-buttons-area .ui-button{
  height:30px;
  line-height: 18px;
  width:52px;
  font-size: 12px;
  border: solid 1px #afb6d8;
}

#evolve-select-area .ui-button{
  background-color: #73a9e0;
  border: 1px solid #ccc;
}

#select-buttons-area label:not(.ui-state-active){
  color: #999;
  border: 1px solid #e5e5e5 !important;
  background-color: #f6f6f6 !important;
}

#evolve-select-area label:not(.ui-state-active){
  color: #999;
  border: 1px solid #e5e5e5 !important;
  background-color: #f6f6f6 !important;
}

.ui-visual-focus, .ui-state-focus{
  box-shadow: 0 0 0 0 !important;
}

#select-buttons-area .ui-state-active{
  box-shadow: 0 0 3px 1px rgb(94,158,214) !important;
}

#type-select-area label{
  color:#000;
  border: 1px solid #ccc;
  font-size: 15px;
  height: 30px;
  line-height: 18px;
  width: 50px;
}

#type-select-area label:not(.ui-state-active){
  /*font-size: 14px;*/
  color: #999;
  border: 1px solid #e5e5e5 !important;
  background-color: #f6f6f6 !important;
}



#control-bars-area{
  margin-top: 10px;
  width: 500px;
}

.bar-area{
  margin-bottom: 10px;
}

/*.max-control-bar{
  width: 200px;
}*/

#right-content{
  width: 350px;
  float: left;
}


/*参考: http://jsdo.it/mottsu/zccO*/
table.table-headerfixed {
  width: 300px;
  border-bottom: 2px solid #ccc;
}
table.table-headerfixed thead,
table.table-headerfixed tbody,
table.table-headerfixed tr,
table.table-headerfixed td,
table.table-headerfixed th {
    display: block;
}
table.table-headerfixed tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
table.table-headerfixed tbody {
    height: 280px;
    overflow-y: scroll;
}
table.table-headerfixed thead {
    /* fallback */
    width: 100%;
    /* minus scroll bar width */
    /*width: calc(100% - 17px);*/
}
table.table-headerfixed tbody td,
table.table-headerfixed thead th {
    float: left;
    height: 38px;
    cursor: pointer;
}

.col-value:hover {
  background-color: #ddd;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
