.axis path,
.axis line {
   fill: none;
   stroke: black;
   stroke-width: 2px;
   shape-rendering: crispEdges;
}
.axis text {
   font-family: sans-serif;
   font-size: 11px;
}

/*参考: http://bl.ocks.org/hunzy/8647349*/
span.tooltip{
  position: absolute;
  z-index: 10;
  visibility: hidden;
  padding: 0 5px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  font-size: 11px;
  opacity: 0.8;
}

#content{
  margin: 20px;
  width: 1330px;
}

#left-content{
  width: 550px;
  float: left;
}

#center-content{
  width: 550px;
  float: left;
  margin-left: 30px;
}

#right-content{
  width: 200px;
  float: left;
}

.select-buttons-area{
  width: 100%;
}

.select-buttons-area .ui-button{
  height:30px;
  line-height: 18px;
  width:52px;
  font-size: 12px;
  border: solid 1px #afb6d8;
}

.evolve-select-area .ui-button{
  background-color: #73a9e0;
  border: 1px solid #ccc;
}

.select-buttons-area label:not(.ui-state-active){
  color: #999;
  border: 1px solid #e5e5e5 !important;
  background-color: #f6f6f6 !important;
}

.evolve-select-area label:not(.ui-state-active){
  color: #999;
  border: 1px solid #e5e5e5 !important;
  background-color: #f6f6f6 !important;
}

.ui-visual-focus, .ui-state-focus{
  box-shadow: 0 0 0 0 !important;
}

.select-buttons-area .ui-state-active{
  box-shadow: 0 0 3px 1px rgb(94,158,214) !important;
}

.type-select-area label{
  color:#000;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 30px;
  line-height: 18px;
  width: 45px;
}

.type-select-area .clear-button{
  color:#000;
  border: 1px solid #aaa;
  font-size: 12px;
  height: 24px;
  /*line-height: 10px;*/
  margin-top: -5px;
  box-shadow: 0 0 0 0 !important;
}


.type-select-area label:not(.ui-state-active){
  /*font-size: 14px;*/
  color: #999;
  border: 1px solid #e5e5e5 !important;
  background-color: #f6f6f6 !important;
}



.control-bars-area{
  margin-top: 10px;
  width: 500px;
}

.bar-area{
  margin-bottom: 10px;
}

/*.max-control-bar{
  width: 200px;
}*/




/*参考: http://jsdo.it/mottsu/zccO*/
table.table-headerfixed {
  margin-top: 330px;
  width: 200px;
  border-bottom: 2px solid #ccc;
}
table.table-headerfixed thead,
table.table-headerfixed tbody,
table.table-headerfixed tr,
table.table-headerfixed td,
table.table-headerfixed th {
    display: block;
}
table.table-headerfixed tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
table.table-headerfixed tbody {
    height: 330px;
    overflow-y: scroll;
}
table.table-headerfixed thead {
    /* fallback */
    width: 100%;
    /* minus scroll bar width */
    /*width: calc(100% - 17px);*/
}
table.table-headerfixed tbody td,
table.table-headerfixed thead th {
    float: left;
    height: 38px;
    cursor: pointer;
}

.col-value:hover {
  background-color: #ddd;
}

*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
